* {
  box-sizing: border-box;
}
.header {
  margin: auto;
  width: 800px;
  height: 55px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 400px;
}

.logo1 {
  width: 100%;
  height: 88%;
}

.menu {
  width: 400px;
  font-family: cursive;
}
.menu_left {
  display: flex;
  justify-content: space-around;
}

.main-field {
  height: 100vh;
  width: 100vw;
}
.main {
  width: 800px;
  height: 422px;
  margin: auto;
}
.main_image {
  margin: 0, 10px;
  width: 800px;
  height: 422px;
  background-image: url(https://cdn.pixabay.com/photo/2016/11/08/05/20/adventure-1807524_1280.jpg);
  background-size: cover;
  position: relative;
}
.main_message {
  position: absolute;
  width: 70vw;
  top: 85%;
  left: 50vw;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 17px;
}

.main2 {
  margin: auto;
  width: 800px;
  height: 400px;
  background-color: white;
  position: relative;
}
.main2_box {
  margin: auto;
  width: 90%;
  height: 86%;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.main2_title {
  text-align: center;
  font-size: 20px;
  color: #222222;
  font-family: cursive;
}

.mian2_info {
  margin-top: 50px;
}

.main3 {
  margin: auto;
  width: 800px;
  height: 500px;
  background-color: #EEEEEE;
  position: relative;
}

.main3_box {
  margin: auto;
  width: 90%;
  height: 80%;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  overflow: scroll;
}

.main3_title {
  height: 38px;
  text-align: center;
  font-size: 20px;
  color: #222222;
  font-family: cursive;
}

.main3_info {
  height: 320px;
  background-image: url("main1.JPG");
  background-size: 660px 330px;
  margin: 30px;
}

.plan-info {
  color: white;
  position: relative;
}

.plan-title {
  text-align: center;
  font-size: 30px;
  padding-top: 80px;
}

.plan-date {
  text-align: left;
  padding-left: 15px;
}

.plan-restriction {
  text-align: center;
  padding-top: 50px;
}

.plan-limit {
  text-align: center;
  padding-top: 10px;
}

.plan-nickname {
  text-align: right;
  padding-right: 15px;
  font-size: 20px;
}

.show-image {
  padding-right: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.footer {
  width: 100%;
  height: 60px;
  background-color: #333333;
}
