.wrapper {
  height: 500px;
  width: 100vw;
}

.action_main {
  text-align: center;
  height: 500px;
  width: 100vw;
  background-color: #EEEEEE;
}

.weight-bold-text {
  font-weight: bold;
  min-width: 170px;
  margin-bottom: 10px;
}
.new_action {
  padding-top: 5%;
}
