.action_main {
  text-align: center;
  height: 600px;
  width: 100vw;
  background-color:#c0c0c0;
}

.weight-bold-text {
  font-weight: bold;
  min-width: 170px;
  margin-bottom: 10px;
  
}

.action-title {
  
}